<nav>
    <!-- Navigation menu -->
    <ul class="nav flex-column">
        <!-- Home link -->
        <li class="nav-item">
            <h5><a class="nav-link animated-label" routerLink="/">Home</a></h5>
        </li>
        <!-- About link -->
        <li class="nav-item">
            <h5><a class="nav-link animated-label" >About</a></h5>
        </li>
        <!-- Contact link -->
        <li class="nav-item">
            <h5><a class="nav-link animated-label" >Contact</a></h5>
        </li>
        <!-- Help link -->
        <li class="nav-item">
            <h5><a class="nav-link animated-label" >Help</a></h5>
        </li>

    </ul>
</nav>
