<nav>
    <!-- Navigation menu -->
    <ul class="nav flex-column">
        <!-- Decorator link -->
        <li class="nav-item">
            <h5><a class="nav-link animated-label" routerLink="/">Decorator</a></h5>
        </li>
        <!-- LifeCycle link -->
        <li class="nav-item">
            <h5><a class="nav-link animated-label" routerLink="/lifecycle">Life Cycle</a></h5>
        </li>
        <!-- Emitter link -->
        <li class="nav-item">
            <h5><a class="nav-link animated-label" routerLink="/emitter">Emitter</a></h5>
        </li>

    </ul>
</nav>